ai.completion_profiles = [
  {
    name = "example_profile"
    type = anthropic
    provider_name = "Anthropic AI"
    system_prompt = ""
    model = "claude-3-5-sonnet-20240620"
    max_tokens = 100
  }
]