connectors.confluent_producer.my_confluent_producer.authentication{
  logical_cluster = "my_logical_cluster"
  identity_pool_id = "my_identity_pool_id"
  mechanism = oauth
  grant_type = client_credentials
  endpoint_uri = "https://auth.example.com/oauth/token"
  client_id = "my_client_id"
  client_secret = "my_client_secret"
  scope = "my_scope"
  extensions = {}
}