durable_storage.messages = {
  backend = builtin_local
  data_dir = "node.data_dir/ds/"
  n_shards = 16
  db_group = my_database_group
  rocksdb = {
    #substruct(durable_storage:rocksdb_options)
  }
  transaction = {
    #substruct(durable_storage:optimistic_transaction)
  }
  layout = {
    #substruct(durable_storage:layout_builtin_wildcard_optimized)
  }
}