dashboard.sso.ldap {
  enable = false
  backend = "ldap"
  query_timeout = "5s"
  server = "example.com"
  pool_size = 8
  username = "username"
  password = "password"
  request_timeout = "10s"
  ssl = {
    #substruct(ldap:ssl)
  }
  base_dn = "dc=example,dc=com"
  filter = "(&(objectClass=person)(uid=${username}))"
}