actions.dynamo.my_dynamo_action {
  local_topic = ""
  parameters = {
    #substruct(bridge_dynamo:action_parameters)
  }
  fallback_actions = [
    #substruct(actions_and_sources:fallback_action_reference)
    #substruct(actions_and_sources:fallback_action_republish)
  ]
  connector = ""
  resource_opts = {
    #substruct(actions_and_sources:action_resource_opts)
  }
}