connectors.clickhouse.my_webhook_1 {
  url = "http://myhostname:8123"
  connect_timeout = "15s"
  database = "default_database"
  pool_size = 8
  username = "default_user"
  password = "default_password"
  resource_opts = {
    #substruct(bridge_clickhouse:connector_resource_opts)
  }
}