connectors.cassandra.my_cassandra_connector {
  servers = "localhost:9042"
  keyspace = "example_keyspace"
  pool_size = 8
  username = "cassandra_user"
  password = "cassandra_password"
  ssl = {
    #substruct(emqx:ssl_client_opts)
  }
  resource_opts = {
    #substruct(bridge_cassa:connector_resource_opts)
  }
}