connectors.redis.my_redis_connector.parameters {
  servers = "127.0.0.1:6379"
  redis_type = sentinel
  sentinel = "mymaster"
  pool_size = 8
  username = "my_username"
  password = "my_password"
  database = 0
}