connectors.doris.my_webhook_1 {
  server = "hostname:9030"
  database = "my_database"
  pool_size = 8
  username = "root"
  password = "secret_password"
  ssl = {
    #substruct(connector_doris:ssl)
  }
  resource_opts = {
    #substruct(connector:resource_opts)
  }
}