durable_storage.db_groups.my_webhook_1 {
  name = my_webhook_1
  backend = builtin_raft
  storage_quota = infinity
  write_buffer_size = "256 MiB"
  rocksdb_nthreads_high = 4
  rocksdb_nthreads_low = 4
}