gateway.nats.listeners {
  ws {
    my_websocket_listener = {
      #substruct(gateway:ws_listener)
    }
  }
  wss {
    my_secure_websocket_listener = {
      #substruct(gateway:wss_listener)
    }
  }
  tcp {
    my_tcp_listener = {
      #substruct(gateway:tcp_listener)
    }
  }
  ssl {
    my_ssl_listener = {
      #substruct(gateway:ssl_listener)
    }
  }
}