schema_registry.schemas.my_schema.parameters {
  url = "http://example.com/schema"
  headers = {}
  max_retries = 2
  request_timeout = "10s"
  external_params = ""
  connect_timeout = "15s"
  pool_type = random
  pool_size = 8
  enable_pipelining = 100
  max_inactive = "10s"
  ssl = {
    #substruct(emqx:ssl_client_opts)
  }
}