actions.snowflake.my_webhook_1.parameters = {
  mode = "aggregated"
  aggregation = {
    #substruct(action_snowflake:aggregation)
  }
  private_key = "file://path/to/private_key.pem"
  private_key_password = "changeit"
  database = "my_database"
  schema = "my_schema"
  stage = "my_stage"
  pipe = "my_pipe"
  pipe_user = "user_with_permissions"
  connect_timeout = "15s"
  pipelining = 100
  pool_size = 8
  max_retries = 3
  max_inactive = "10s"
  proxy = none
}