gateway.ocpp.upstream {
  topic = "cp/${cid}"
  topic_override_mapping = {
    # Example: "BootNotification" : "custom/topic/boot"
  }
  reply_topic = "cp/${cid}/Reply"
  error_topic = "cp/${cid}/Reply"
}