authorization.sources = [
  {
    type = redis
    servers = "127.0.0.1:26379,127.0.0.2:26379"
    redis_type = sentinel
    sentinel = "mymaster"
    sentinel_username = "sentinel_user"
    sentinel_password = "sentinel_secret"
    pool_size = 8
    username = "user"
    password = "secret"
    database = 0
    ssl = {
      #substruct(emqx:ssl_client_opts)
    }
    cmd = "HGETALL acl:%u"
    compatibility_mode = disabled
  }
]