actions.oracle.my_oracle_action {
  parameters = {
    #substruct(bridge_oracle:action_parameters)
  }
  fallback_actions = []
  connector = "my_connector"
  resource_opts = {
    #substruct(bridge_oracle:action_resource_opts)
  }
}