connectors.cassandra.my_webhook_1 {
  servers = "localhost:9042"
  keyspace = "my_keyspace"
  pool_size = 8
  username = "cassandra_user"
  password = "secret_password"
  ssl = {
    #substruct(emqx:ssl_client_opts)
  }
  resource_opts = {
    #substruct(bridge_cassa:connector_resource_opts)
  }
}