connectors.kafka_consumer.my_kafka_consumer_1.authentication{
  mechanism = oauth
  grant_type = client_credentials
  endpoint_uri = "https://oauth.example.com/token"
  client_id = "my_client_id"
  client_secret = "my_client_secret"
  scope = "read write"
  extensions = {}
}