connectors.bigquery.my_bigquery_connector {
  connect_timeout = "15s"
  pool_size = 8
  pipelining = 100
  max_retries = 2
  max_inactive = "10s"
  service_account_json = ""
  resource_opts = {
    #substruct(connector:resource_opts)
  }
}