rule_engine.ssrf {
  enable = false
  allow_cidrs = []
  deny_cidrs = [
    "127.0.0.0/8",
    "::1/128",
    "fe80::/10",
    "10.0.0.0/8",
    "172.16.0.0/12",
    "192.168.0.0/16",
    "fc00::/7",
    "0.0.0.0/32",
    "224.0.0.0/4",
    "ff00::/8",
    "100.100.100.200/32",
    "169.254.0.0/16"
  ]
  deny_hosts = [
    "metadata.tencentyun.com",
    "metadata.google.internal",
    "metadata.azure.internal"
  ]
}