authorization.sources = [
  {
    type = http
    url = "http://auth.server.url"
    request_timeout = "30s"
    body = {
      # Add key-value pairs for HTTP request body here
    }
    connect_timeout = "15s"
    pool_size = 8
    enable_pipelining = 100
    request = {
      #substruct(connector_http:request)
    }
    ssl = {
      enable = false
    }
    method = get
    headers = {
      accept = "application/json"
      cache-control = "no-cache"
      connection = "keep-alive"
      keep-alive = "timeout=30, max=1000"
    }
  }
]