sources.mqtt.my_webhook_1 = {
  connector = "external_connector"
  parameters = {
    #substruct(bridge_mqtt_publisher:ingress_parameters)
  }
  resource_opts = {
    #substruct(bridge_mqtt_publisher:source_resource_opts)
  }
}