log {
  console = {
    #substruct(emqx:console_handler)
  }
  file = {
    level = "warning"
  }
  throttling = {
    #substruct(emqx:log_throttling)
  }
  audit = {
    enable = false
    level = "info"
  }
}