connectors.gcp_pubsub_consumer.my_gcp_pubsub_consumer {
  connect_timeout = "15s"
  pool_size = 8
  pipelining = 100
  max_retries = 2
  service_account_json = "json_string_here"
  resource_opts = {
    #substruct(gcp_pubsub_consumer:connector_resource_opts)
  }
}