schema_registry {
  external {
    name = {
      #substruct(schema_registry:confluent_schema_registry)
    }
  }
  schemas {
    name = {
      #substruct(schema_registry:avro)
    }
    name = {
      #substruct(schema_registry:protobuf)
    }
    name = {
      #substruct(schema_registry:json)
    }
  }
}