actions.snowflake_streaming.my_webhook_1.parameters = {
  database = "my_database"
  schema = "my_schema"
  pipe = "my_pipe"
  connect_timeout = "15s"
  pipelining = 100
  pool_size = 8
  max_retries = 3
  max_inactive = "10s"
}