authentication = [
  {
    mechanism = password_based
    backend = redis
    cmd = "HGET"
    password_hash_algorithm {
      #substruct(authn_hash:bcrypt)
      #substruct(authn_hash:pbkdf2)
      #substruct(authn_hash:simple)
    }
    precondition = ""
    servers = "127.0.0.1:6379,192.168.1.1"
    redis_type = cluster
    pool_size = 8
    username = "user123"
    password = "secretPassword"
    ssl = {
      #substruct(emqx:ssl_client_opts)
    }
  }
]