actions.tablestore.my_webhook_1 {
  parameters = {
    #substruct(bridge_tablestore:action_parameters)
  }
  fallback_actions = [
    {
      #substruct(actions_and_sources:fallback_action_reference)
    },
    {
      #substruct(actions_and_sources:fallback_action_republish)
    }
  ]
  connector = "your_connector_name_here"
  resource_opts = {
    #substruct(actions_and_sources:action_resource_opts)
  }
}