actions.tdengine.my_tdengine_action {
  parameters = {
    #substruct(bridge_tdengine:action_parameters)
  }
  fallback_actions = [
    #substruct(actions_and_sources:fallback_action_reference)
    #substruct(actions_and_sources:fallback_action_republish)
  ]
  connector = "connector_name"
  resource_opts = {
    #substruct(actions_and_sources:action_resource_opts)
  }
}