connectors {
  rabbitmq {
    my_rabbitmq_connector = {
      #substruct(rabbitmq:config_connector)
    }
  }
  gcp_pubsub_producer {
    my_gcp_pubsub_producer = {
      #substruct(gcp_pubsub_producer:config_connector)
    }
  }
  pgsql {
    my_pgsql_connector = {
      #substruct(bridge_pgsql:config_connector)
    }
  }
  mqtt {
    my_mqtt_connector = {
      #substruct(connector_mqtt:config_connector)
    }
  }
  oracle {
    my_oracle_connector = {
      #substruct(bridge_oracle:config_connector)
    }
  }
  mysql {
    my_mysql_connector = {
      #substruct(bridge_mysql:config_connector)
    }
  }
  redis {
    my_redis_connector = {
      #substruct(redis:config_connector)
    }
  }
  timescale {
    my_timescale_connector = {
      #substruct(bridge_timescale:config_connector)
    }
  }
  cassandra {
    my_cassandra_connector = {
      #substruct(bridge_cassa:config_connector)
    }
  }
  azure_blob_storage {
    my_azure_blob_storage_connector = {
      #substruct(connector_azure_blob_storage:config_connector)
    }
  }
  greptimedb {
    my_greptimedb_connector = {
      #substruct(bridge_greptimedb:config_connector)
    }
  }
  http {
    my_http_connector = {
      #substruct(bridge_http:config_connector)
    }
  }
  datalayers {
    my_datalayers_connector = {
      #substruct(bridge_datalayers:config_connector)
    }
  }
  s3 {
    my_s3_connector = {
      #substruct(bridge_s3:config_connector)
    }
  }
  matrix {
    my_matrix_connector = {
      #substruct(bridge_matrix:config_connector)
    }
  }
  dynamo {
    my_dynamo_connector = {
      #substruct(bridge_dynamo:config_connector)
    }
  }
  clickhouse {
    my_clickhouse_connector = {
      #substruct(bridge_clickhouse:config_connector)
    }
  }
  tdengine {
    my_tdengine_connector = {
      #substruct(tdengine_connector:config_connector)
    }
  }
  tablestore {
    my_tablestore_connector = {
      #substruct(bridge_tablestore:config_connector)
    }
  }
  couchbase {
    my_couchbase_connector = {
      #substruct(connector_couchbase:config_connector)
    }
  }
  doris {
    my_doris_connector = {
      #substruct(connector_doris:config_connector)
    }
  }
  azure_event_hub_producer {
    my_azure_event_hub_producer = {
      #substruct(bridge_azure_event_hub:config_connector)
    }
  }
  redshift {
    my_redshift_connector = {
      #substruct(connector_redshift:config_connector)
    }
  }
  pulsar {
    my_pulsar_connector = {
      #substruct(pulsar:config_connector)
    }
  }
  syskeeper_proxy {
    my_syskeeper_proxy_connector = {
      #substruct(connector_syskeeper_proxy:config)
    }
  }
  snowflake_streaming {
    my_snowflake_streaming_connector = {
      #substruct(connector_snowflake_streaming:config_connector)
    }
  }
  kinesis {
    my_kinesis_connector = {
      #substruct(bridge_kinesis:config_connector)
    }
  }
  iotdb {
    my_iotdb_connector_restapi = {
      #substruct(iotdb:config_restapi)
    }
    my_iotdb_connector_thrift = {
      #substruct(iotdb:config_thrift)
    }
  }
  influxdb {
    my_influxdb_connector = {
      #substruct(bridge_influxdb:config_connector)
    }
  }
  elasticsearch {
    my_elasticsearch_connector = {
      #substruct(elasticsearch:config)
    }
  }
  confluent_producer {
    my_confluent_producer = {
      #substruct(confluent:config_connector)
    }
  }
  alloydb {
    my_alloydb_connector = {
      #substruct(connector_alloydb:config_connector)
    }
  }
  snowflake {
    my_snowflake_connector = {
      #substruct(connector_snowflake_aggregated:config_connector)
    }
  }
  kafka_producer {
    my_kafka_producer = {
      #substruct(bridge_kafka:config_connector)
    }
  }
  kafka_consumer {
    my_kafka_consumer = {
      #substruct(kafka_consumer:config_connector)
    }
  }
  gcp_pubsub_consumer {
    my_gcp_pubsub_consumer = {
      #substruct(gcp_pubsub_consumer:config_connector)
    }
  }
  sqlserver {
    my_sqlserver_connector = {
      #substruct(bridge_sqlserver:config_connector)
    }
  }
  opents {
    my_opents_connector = {
      #substruct(opents_connector:config_connector)
    }
  }
  syskeeper_forwarder {
    my_syskeeper_forwarder = {
      #substruct(syskeeper_forwarder:config)
    }
  }
  mongodb {
    my_mongodb_connector = {
      #substruct(bridge_mongodb:config_connector)
    }
  }
  cockroachdb {
    my_cockroachdb_connector = {
      #substruct(connector_cockroachdb:config_connector)
    }
  }
  s3tables {
    my_s3tables_connector = {
      #substruct(connector_s3tables:config_connector)
    }
  }
  disk_log {
    my_disk_log_connector = {
      #substruct(connector_disk_log:config_connector)
    }
  }
  rocketmq {
    my_rocketmq_connector = {
      #substruct(rocketmq:config_connector)
    }
  }
  bigquery {
    my_bigquery_connector = {
      #substruct(connector_bigquery:config_connector)
    }
  }
}