gateway.coap.listeners.udp.my_listener {
  health_check = {
    #substruct(gateway:udp_health_check)
  }
  udp_options = {
    #substruct(gateway:udp_opts)
  }
  bind = "0.0.0.0:5683"
  max_connections = 1024
  max_conn_rate = 1000
  enable_authn = true
  mountpoint = ""
  access_rules = [
    "deny 192.168.1.1",
    "allow 192.168.1.0/24",
    "deny all"
  ]
}