actions.redis.my_redis_action {
  parameters = {
    #substruct(bridge_redis:action_parameters)
  }
  fallback_actions = [
    #substruct(actions_and_sources:fallback_action_reference)
    #substruct(actions_and_sources:fallback_action_republish)
  ]
  connector = "my_connector_name"
  resource_opts = {
    #substruct(redis:action_resource_opts)
  }
}