actions.opents.my_action.parameters.data = [
  {
    timestamp = "${timestamp_var}"
    metric = "${metric_var}"
    tags = {
      # You can use either a map or a template here
    }
    value = 123
  }
]