connectors.sqlserver.myconnector1 {
  driver = "ms-sql"
  tags = []
  description = ""
  server = "your.server.address:1433"
  database = "your_database_name"
  pool_size = 8
  username = "sa"
  password = "your_password"
  resource_opts {
    #substruct(bridge_sqlserver:connector_resource_opts)
  }
}