actions.mongodb.my_mongodb_action {
  local_topic = ""
  parameters = {
    #substruct(bridge_mongodb:action_parameters)
  }
  connector = ""
  tags = []
  description = ""
  resource_opts = {
    #substruct(bridge_mongodb:action_resource_opts)
  }
}