connectors.sqlserver.my_sqlserver {
  driver = "ms-sql"
  tags = []
  description = ""
  server = "your-server-hostname-or-ip"
  database = "your-database-name"
  pool_size = 8
  username = "sa"
  password = #substruct(emqx_schema_secret:secret)
  resource_opts = {
    #substruct(bridge_sqlserver:connector_resource_opts)
  }
}