actions.opents.my_webhook_1.parameters.data[0] {
  timestamp = "${timestamp_var}"
  metric = "${metric_var}"
  #tags = {
    #union(map, emqx_schema:template())
  }
  #value = {
    #union(integer, float, emqx_schema:template())
  }
}