actions.s3.my_s3_action.parameters {
  bucket = "your-s3-bucket-name"
  key = "path/to/object"
  acl = private
  headers = {
    "Content-Type": "application/json"
  }
  mode = direct
  content = "${.}"
}