actions.clickhouse.myaction1 {
  local_topic = "your/mqtt/topic"
  parameters {
    #substruct(bridge_clickhouse:action_parameters)
  }
  connector = "my_connector"
  tags = [
    "tag1",
    "tag2"
  ]
  description = ""
  resource_opts {}
}