actions.tablestore.my_table.parameters {
  storage_model_type = timeseries
  table_name = "example_table"
  measurement = "example_measurement"
  tags = {
    "tag_key1" = "tag_value1"
  }
  fields = [
    {
      #substruct(bridge_tablestore:tablestore_fields)
    }
  ]
  data_source = "example_data_source"
  timestamp = "NOW"
  meta_update_model = MUM_NORMAL
}