connectors.azure_event_hub_producer.myazureeventhub1.resource_opts {
  health_check_interval = "15s"
  start_after_created = true
  start_timeout = "5s"
}

connectors.confluent_producer.myconfluentproducer1.resource_opts {
  health_check_interval = "15s"
  start_after_created = true
  start_timeout = "5s"
}

connectors.kafka_consumer.mykafkaconsumer1.resource_opts {
  health_check_interval = "15s"
  start_after_created = true
  start_timeout = "5s"
}

connectors.kafka_producer.mykafkaproducer1.resource_opts {
  health_check_interval = "15s"
  start_after_created = true
  start_timeout = "5s"
}