connectors.greptimedb.my_greptimedb_connector {
  tags = [
    "tag1",
    "tag2"
  ]
  description = ""
  server = "127.0.0.1:4001"
  dbname = "my_database"
  username = "my_username"
  password = {
    #substruct(emqx_schema_secret:secret)
  }
  ssl = {enable = false}
  resource_opts = {
    #substruct(bridge_greptimedb:connector_resource_opts)
  }
}