connectors.dynamo.my_dynamo_connector {
  tags = []
  description = ""
  url = ""
  region = ""
  aws_access_key_id = ""
  aws_secret_access_key = ""
  pool_size = 8
  resource_opts = {
    #substruct(bridge_dynamo:connector_resource_opts)
  }
}