connectors.influxdb.my_influxdb_connector {
    server = "127.0.0.1:8086"
    pool_size = 8
    parameters = {
        #connector_influxdb:connector_influxdb_api_v1
        #connector_influxdb:connector_influxdb_api_v2
    }
    ssl = {
        enable = false
    }
    resource_opts = {
        #bridge_influxdb:connector_resource_opts
    }
}