actions.clickhouse.my_action {
  local_topic = "<mqtt_topic>"
  parameters = {
    #substruct(bridge_clickhouse:action_parameters)
  }
  connector = "<connector_name>"
  tags = [
    "tag1",
    "tag2"
  ]
  description = ""
  resource_opts = {}
}