actions.hstreamdb.myhstreamdb1 {
  local_topic = ""
  parameters {
    #substruct(bridge_hstreamdb:action_parameters)
  }
  connector = ""
  tags = []
  description = ""
  resource_opts {
    #substruct(actions_and_sources:action_resource_opts)
  }
}