connectors.kafka_consumer.myconnector1.authentication {
  mechanism = plain
  username = "your-username"
  password = "your-password"
}

connectors.kafka_producer.myconnector2.authentication {
  mechanism = plain
  username = "your-username"
  password = "your-password"
}