actions.iotdb.my_action {
  local_topic = "example/topic"
  parameters = {
    #substruct(bridge_iotdb:action_parameters)
  }
  connector = "example_connector"
  tags = [
    "tag1",
    "tag2"
  ]
  description = ""
  resource_opts = {}
}