actions.tablestore.my_table.parameters.fields = [
    {
        column = "example_column"
        value = "example_value" # This can be a boolean, number, or string.
        isint = false # This can be a boolean or string.
        isbinary = false # This can be a boolean or string.
    }
]