actions.s3.my_webhook_1 {
  local_topic = "my/mqtt/topic"
  parameters = {
    #bridge_s3:s3_aggregated_upload_parameters
    #bridge_s3:s3_direct_upload_parameters
  }
  connector = "my_connector"
  resource_opts = {
    #bridge_s3:s3_upload_resource_opts
  }
}