actions.elasticsearch.my_action_1 {
  parameters {
    #bridge_elasticsearch:action_create
    #bridge_elasticsearch:action_delete
    #bridge_elasticsearch:action_update
  }
  connector = "example_connector"
  resource_opts = {
    #bridge_elasticsearch:action_resource_opts
  }
}