actions.elasticsearch.my_action {
  parameters = {
    #substruct(bridge_elasticsearch:action_create)
    #substruct(bridge_elasticsearch:action_delete)
    #substruct(bridge_elasticsearch:action_update)
  }
  connector = "example_connector"
  tags = [
    "tag1",
    "tag2"
  ]
  description = ""
  resource_opts = {}
}