cluster.links = [
  {
    name = "remoteClusterName"
    server = "mqtt.example.com:1883"
    clientid = "optionalClientId"
    username = "optionalUsername"
    password = "optionalPassword"
    ssl {
      enable = false
    }
    topics = [
      "topic1",
      "topic2"
    ]
    pool_size = 8
    retry_interval = "15s"
    max_inflight = 32
    resource_opts {
    }
  }
]