actions.confluent_producer.myaction1 {
  local_topic = "example/topic"
  parameters {
    #substruct(confluent:producer_kafka_opts)
  }
  resource_opts {}
  connector = "my_connector"
  tags = ["tag1", "tag2"]
  description = "This is a descriptive text."
}