connectors.syskeeper_proxy.my_syskeeper_proxy {
  tags = []
  description = ""
  listen = # A sample IP or hostname should be added here, e.g., "0.0.0.0:1883"
  acceptors = 16
  handshake_timeout = "10s"
  resource_opts = {
    #substruct(connector_syskeeper_proxy:connector_resource_opts)
  }
}