connectors.snowflake.my_webhook_1 {
  server = "string_value"
  account = "binary_value"
  dsn = "binary_value"
  proxy = none
  pool_size = 8
  username = "binary_value"
  password = "secret_value"
  resource_opts = {
    #substruct(connector:resource_opts)
  }
  ssl = {
    #substruct(emqx:ssl_client_opts)
  }
}