gateway.ocpp.listeners.wss.my_webhook_1.ssl_options {
  cacertfile = "${EMQX_ETC_DIR}/certs/cacert.pem"
  certfile = "${EMQX_ETC_DIR}/certs/cert.pem"
  keyfile = "${EMQX_ETC_DIR}/certs/key.pem"
  verify = verify_none
  reuse_sessions = true
  depth = 10
  password = "" # String containing the user's password
  versions = ["tlsv1.3", "tlsv1.2"]
  ciphers = []
  secure_renegotiate = true
  log_level = notice
  hibernate_after = "5s"
  partial_chain = false # Enable or disable peer verification with partial_chain
  verify_peer_ext_key_usage = "" # Verify extended key usage in peer's certificate
  dhfile = "" # Path to a file containing PEM-encoded Diffie-Hellman parameters
  fail_if_no_peer_cert = false
  honor_cipher_order = true
  client_renegotiation = true
  handshake_timeout = "15s"
}