gateway.exproto.listeners {
  tcp {
    listener1 = {
      #substruct(gateway:tcp_listener)
    }
  }
  ssl {
    listener1 = {
      #substruct(gateway:ssl_listener)
    }
  }
  udp {
    listener1 = {
      #substruct(gateway:udp_listener)
    }
  }
  dtls {
    listener1 = {
      #substruct(gateway:dtls_listener)
    }
  }
}