gateway {
  gbt32960 {
    listeners {
      tcp {
        mygbt32960listener1 {
          #substruct(gateway:tcp_listener)
        }
      }
      ssl {
        mygbt32960listener1 {
          #substruct(gateway:ssl_listener)
        }
      }
    }
  }

  jt808 {
    listeners {
      tcp {
        myjt808listener1 {
          #substruct(gateway:tcp_listener)
        }
      }
      ssl {
        myjt808listener1 {
          #substruct(gateway:ssl_listener)
        }
      }
    }
  }

  stomp {
    listeners {
      tcp {
        mystomplistener1 {
          #substruct(gateway:tcp_listener)
        }
      }
      ssl {
        mystomplistener1 {
          #substruct(gateway:ssl_listener)
        }
      }
    }
  }
}