actions.gcp_pubsub_producer.my_producer {
  local_topic = ""
  parameters = {
    #substruct(gcp_pubsub_producer:action_parameters)
  }
  connector = ""
  tags = []
  description = ""
  resource_opts = {}
}