actions.gcp_pubsub_producer.myaction1.parameters {
  attributes_template = [
    #substruct(bridge_gcp_pubsub:key_value_pair)
  ]
  ordering_key_template = ""
  payload_template = ""
  pubsub_topic = "your-gcp-pubsub-topic"
}