connectors.iotdb.my_iotdb_config {
  tags = []
  description = ""
  driver = thrift
  server = "localhost:6667"
  protocol_version = protocol_v3
  zoneId = "Asia/Shanghai"
  pool_size = 8
  connect_timeout = "10s"
  recv_timeout = "10s"
  username = "iotdb_user"
  password = "iotdb_password"
  ssl = {
    #substruct(emqx:ssl_client_opts)
  }
  resource_opts = {
    #substruct(iotdb:connector_resource_opts)
  }
}