connectors.mongodb.my_webhook_1.topology {
  max_overflow = 0
  overflow_ttl = "30s"  # Example duration
  overflow_check_period = "10s"  # Example duration
  local_threshold_ms = "15ms"  # Example duration
  connect_timeout_ms = "10s"  # Example duration
  socket_timeout_ms = "5s"  # Example duration
  server_selection_timeout_ms = "2s"  # Example duration
  wait_queue_timeout_ms = "1s"  # Example duration
  heartbeat_frequency_ms = "200s"
  min_heartbeat_frequency_ms = "500ms"  # Example duration
}