opentelemetry {
  metrics = {
    #opentelemetry:otel_metrics
  }
  logs = {
    #opentelemetry:otel_logs
  }
  traces = {
    #opentelemetry:otel_traces
  }
  exporter = {
    #opentelemetry:otel_exporter
  }
}