actions.pulsar.my_pulsar_action {
  local_topic = ""
  parameters = {
    #substruct(pulsar:action_parameters)
  }
  connector = ""
  tags = [
    # Add tag values if needed
  ]
  description = ""
  resource_opts = {}
}