actions.pulsar.my_webhook_1 {
  local_topic = "example_topic"
  parameters = {
    #substruct(pulsar:action_parameters)
  }
  connector = "example_connector"
  tags = [
    "tag1",
    "tag2"
  ]
  resource_opts = {
    #substruct(pulsar:action_resource_opts)
  }
}