connectors.redis.my_webhook_1 {
  parameters = {
    #redis:redis_single_connector
    #redis:redis_sentinel_connector
    #redis:redis_cluster_connector
  }
  resource_opts = {
    #substruct(redis:connector_resource_opts)
  }
  ssl = {
    #substruct(emqx:ssl_client_opts)
  }
}