schema_registry {
  external {
    myexternalregistry1 {
      #substruct(schema_registry:confluent_schema_registry)
    }
  }
  schemas {
    myregisteredavroschema1 {
      #substruct(schema_registry:avro)
    }
    myregisteredprotobufschema1 {
      #substruct(schema_registry:protobuf)
    }
    myregisteredjsonschema1 {
      #substruct(schema_registry:json)
    }
  }
}