dashboard.sso.ldap {
  enable = false
  backend = "ldap"
  query_timeout = "5s"
  server = "ldap.example.com"
  pool_size = 8
  username = "username"
  password = "password"
  base_dn = "dc=example,dc=com"
  filter = "(& (objectClass=person) (uid=${username}))"
  request_timeout = "10s"
  ssl = {
    #substruct(ldap:ssl)
  }
}