actions {
  iotdb {
    "example_iotdb" {
      #substruct(bridge_iotdb:action_config)
    }
  }
  mysql {
    "example_mysql" {
      #substruct(bridge_mysql:mysql_action)
    }
  }
  datalayers {
    "example_datalayers" {
      #substruct(bridge_datalayers:datalayers_action)
    }
  }
  azure_blob_storage {
    "example_azure_blob_storage" {
      #substruct(action_azure_blob_storage:azure_blob_storage)
    }
  }
  kafka_producer {
    "example_kafka_producer" {
      #substruct(bridge_kafka:kafka_producer_action)
    }
  }
  sqlserver {
    "example_sqlserver" {
      #substruct(bridge_sqlserver:sqlserver_action)
    }
  }
  tdengine {
    "example_tdengine" {
      #substruct(bridge_tdengine:action_config)
    }
  }
  greptimedb {
    "example_greptimedb" {
      #substruct(bridge_greptimedb:greptimedb_action)
    }
  }
  rabbitmq {
    "example_rabbitmq" {
      #substruct(bridge_rabbitmq:publisher_action)
    }
  }
  azure_event_hub_producer {
    "example_azure_event_hub_producer" {
      #substruct(bridge_azure_event_hub:actions)
    }
  }
  syskeeper_forwarder {
    "example_syskeeper_forwarder" {
      #substruct(syskeeper:config)
    }
  }
  s3 {
    "example_s3" {
      #substruct(bridge_s3:s3)
    }
  }
  matrix {
    "example_matrix" {
      #substruct(bridge_pgsql:pgsql_action)
    }
  }
  timescale {
    "example_timescale" {
      #substruct(bridge_pgsql:pgsql_action)
    }
  }
  pgsql {
    "example_pgsql" {
      #substruct(bridge_pgsql:pgsql_action)
    }
  }
  snowflake {
    "example_snowflake" {
      #substruct(action_snowflake:snowflake)
    }
  }
  cassandra {
    "example_cassandra" {
      #substruct(bridge_cassa:cassandra_action)
    }
  }
  mqtt {
    "example_mqtt" {
      #substruct(bridge_mqtt_publisher:mqtt_publisher_action)
    }
  }
  redis {
    "example_redis" {
      #substruct(redis:redis_action)
    }
  }
  tablestore {
    "example_tablestore" {
      #substruct(bridge_tablestore:tablestore_action)
    }
  }
  clickhouse {
    "example_clickhouse" {
      #substruct(bridge_clickhouse:clickhouse_action)
    }
  }
  confluent_producer {
    "example_confluent_producer" {
      #substruct(confluent:actions)
    }
  }
  influxdb {
    "example_influxdb" {
      #substruct(bridge_influxdb:influxdb_action)
    }
  }
  dynamo {
    "example_dynamo" {
      #substruct(bridge_dynamo:dynamo_action)
    }
  }
  mongodb {
    "example_mongodb" {
      #substruct(bridge_mongodb:mongodb_action)
    }
  }
  elasticsearch {
    "example_elasticsearch" {
      #substruct(bridge_elasticsearch:action_config)
    }
  }
  pulsar {
    "example_pulsar" {
      #substruct(pulsar:publisher_action)
    }
  }
  oracle {
    "example_oracle" {
      #substruct(bridge_oracle:oracle_action)
    }
  }
  kinesis {
    "example_kinesis" {
      #substruct(bridge_kinesis:kinesis_action)
    }
  }
  rocketmq {
    "example_rocketmq" {
      #substruct(rocketmq:rocketmq_action)
    }
  }
  opents {
    "example_opents" {
      #substruct(bridge_opents:action_config)
    }
  }
  http {
    "example_http" {
      #substruct(bridge_http:http_action)
    }
  }
  couchbase {
    "example_couchbase" {
      #substruct(action_couchbase:couchbase)
    }
  }
  hstreamdb {
    "example_hstreamdb" {
      #substruct(bridge_hstreamdb:hstreamdb_action)
    }
  }
  gcp_pubsub_producer {
    "example_gcp_pubsub_producer" {
      #substruct(gcp_pubsub_producer:producer_action)
    }
  }
}