actions.azure_blob_storage.my_azure_blob_storage.parameters = {
  mode = aggregated
  aggregation = {
    #substruct(action_azure_blob_storage:aggregation)
  }
  container = "your_container_name"
  blob = "${action}_${node}_${datetime.rfc3339utc}_${sequence}"
}