actions.couchbase.my_couchbase_action = {
  local_topic = "example_topic"
  parameters = {
    #substruct(action_couchbase:parameters)
  }
  fallback_actions = [
    #substruct(actions_and_sources:fallback_action_reference)
    #substruct(actions_and_sources:fallback_action_republish)
  ]
  connector = "example_connector"
  resource_opts = {
    #substruct(action_couchbase:action_resource_opts)
  }
}