actions.hstreamdb.my_hstreamdb_action {
  local_topic = "my/mqtt/topic"
  parameters = {
    #substruct(bridge_hstreamdb:action_parameters)
  }
  fallback_actions = [
    #substruct(actions_and_sources:fallback_action_reference)
    #substruct(actions_and_sources:fallback_action_republish)
  ]
  connector = "my_connector_name"
  resource_opts = {
    #substruct(actions_and_sources:action_resource_opts)
  }
}