actions.mysql.my_action = {
  local_topic = "example/topic"
  parameters = {
    #substruct(bridge_mysql:action_parameters)
  }
  fallback_actions = [
    #substruct(actions_and_sources:fallback_action_reference)
    #substruct(actions_and_sources:fallback_action_republish)
  ]
  connector = "my_connector"
  resource_opts = {
    #substruct(actions_and_sources:action_resource_opts)
  }
}