connectors.gcp_pubsub_consumer.my_gcp_consumer {
  connect_timeout = "15s"
  pool_size = 8
  pipelining = 100
  max_retries = 2
  max_inactive = "10s"
  service_account_json = "your_service_account_json_here"
  resource_opts = {
    #substruct(gcp_pubsub_consumer:connector_resource_opts)
  }
}