connectors.mongodb.my_webhook_1.topology {
  max_overflow = 0
  overflow_ttl = "1000ms"
  overflow_check_period = "1000ms"
  local_threshold_ms = "1000ms"
  connect_timeout_ms = "1000ms"
  socket_timeout_ms = "1000ms"
  server_selection_timeout_ms = "1000ms"
  wait_queue_timeout_ms = "1000ms"
  heartbeat_frequency_ms = "200s"
  min_heartbeat_frequency_ms = "1000ms"
}