connectors.opents.my_opentsdb_connector {
  server = "http://your-opentsdb-endpoint"
  pool_size = 8
  summary = true
  details = false
  resource_opts = {
    #substruct(opents_connector:connector_resource_opts)
  }
}