connectors.redis.my_redis_sentinel_connector.parameters {
  servers = "127.0.0.1:6379,127.0.0.2:6379"
  redis_type = "sentinel"
  sentinel = "my_sentinel_cluster"
  pool_size = 8
  username = "my_username"
  password = "my_password_secret"
  database = 0
}