actions.syskeeper_forwarder.my_webhook_1 {
  local_topic = "your/local/topic"
  parameters = {
    #substruct(syskeeper:parameters)
  }
  fallback_actions = [
    #substruct(actions_and_sources:fallback_action_reference)
    #substruct(actions_and_sources:fallback_action_republish)
  ]
  connector = "your_connector_name"
  resource_opts = {}
}