actions.snowflake.my_snowflake_action {
  local_topic = "example/topic"
  parameters {
    #substruct(action_snowflake:aggreg_parameters)
  }
  connector = "example_connector"
  resource_opts = {
    #substruct(action_snowflake:action_resource_opts)
  }
}