sources {
  rabbitmq {
    my_rabbitmq_source = {
      #substruct(bridge_rabbitmq:subscriber_source)
    }
  }
  mqtt {
    my_mqtt_source = {
      #substruct(bridge_mqtt_publisher:mqtt_subscriber_source)
    }
  }
  gcp_pubsub_consumer {
    my_gcp_pubsub_source = {
      #substruct(gcp_pubsub_consumer:consumer_source)
    }
  }
  kafka_consumer {
    my_kafka_consumer_source = {
      #substruct(kafka_consumer:consumer_source)
    }
  }
}