sources.mqtt.my_mqtt_source {
  parameters = {
    #substruct(bridge_mqtt_publisher:ingress_parameters)
  }
  connector = "mqtt_connector_example"
  resource_opts = {
    #substruct(bridge_mqtt_publisher:source_resource_opts)
  }
}