actions.kafka_producer.my_kafka_producer {
  connector = "kafka_connector"
  local_topic = "example_topic"
  parameters = {
    #substruct(bridge_kafka:producer_kafka_opts)
  }
  resource_opts = {
    #substruct(bridge_kafka:resource_opts)
  }
}