actions.opents.my_webhook_1.parameters.data = [
  {
    timestamp = "${timestamp_variable}"
    metric = "${metric_variable}"
    tags = ${tags_variable}
    #tags = ${tags_map}
    value = 42
    #value = 3.14
    #value = "${value_variable}"
  }
]