actions.oracle.my_oracle_action {
  local_topic = ""
  parameters = {
    #substruct(bridge_oracle:action_parameters)
  }
  connector = ""
  resource_opts = {
    #substruct(actions_and_sources:action_resource_opts)
  }
}