cluster.links = [
  {
    name = "remote_cluster_name"
    server = "mqtt.example.com:1883"
    clientid = "baseClientID"
    username = "user123"
    password = "secretPassword"
    ssl = {
      #substruct(emqx:ssl_client_opts)
    }
    topics = [
      "topic/one",
      "topic/two/#"
    ]
    pool_size = 8
    retry_interval = "15s"
    max_inflight = 32
    resource_opts = {
      #substruct(cluster:creation_opts)
    }
  }
]