actions.gcp_pubsub_producer.my_gcp_pubsub_producer {
  local_topic = "example_topic"
  parameters = {
    #substruct(gcp_pubsub_producer:action_parameters)
  }
  connector = "example_connector"
  resource_opts = {
    #substruct(actions_and_sources:action_resource_opts)
  }
}