connectors.mongodb.my_webhook_1.topology = {
  max_overflow = 0
  overflow_ttl = "5000" # ms
  overflow_check_period = "5000" # ms
  local_threshold_ms = "5000" # ms
  connect_timeout_ms = "5000" # ms
  socket_timeout_ms = "5000" # ms
  server_selection_timeout_ms = "5000" # ms
  wait_queue_timeout_ms = "5000" # ms
  heartbeat_frequency_ms = "200s"
  min_heartbeat_frequency_ms = "5000" # ms
}