connectors.pgsql.my_pgsql_connector {
  server = "Host[:Port]"
  disable_prepared_statements = false
  database = "example_database"
  pool_size = 8
  username = "example_username"
  password = "secret_password"
  ssl = {
    #substruct(emqx:ssl_client_opts)
  }
  resource_opts = {
    #substruct(connector_postgres:resource_opts)
  }
}