connectors.gcp_pubsub_producer.my_webhook_1 {
  connect_timeout = "15s"
  pool_size = 8
  pipelining = 100
  max_retries = 2
  max_inactive = "10s"
  service_account_json = ""  // Replace with actual JSON credentials as needed
  resource_opts = {
    #substruct(gcp_pubsub_producer:connector_resource_opts)
  }
}