actions.redis.my_redis_action {
  local_topic = "binary_string_for_topic"
  parameters = {
    #substruct(bridge_redis:action_parameters)
  }
  fallback_actions = []
  connector = "binary_string_for_connector"
  resource_opts = {}
}