actions.couchbase.myaction1 {
  local_topic = ""
  parameters {
    #substruct(action_couchbase:parameters)
  }
  connector = ""
  tags = []
  description = ""
  resource_opts {
    #substruct(action_couchbase:action_resource_opts)
  }
}