authorization.sources = [
  {
    type = ldap
    publish_attribute = mqttPublishTopic
    subscribe_attribute = mqttSubscriptionTopic
    all_attribute = mqttPubSubTopic
    query_timeout = "5s"
    server = "ldap.example.com"
    pool_size = 8
    username = "exampleUser"
    password = "examplePassword"
    base_dn = "uid=${username},ou=testdevice,dc=emqx,dc=io"
    filter = "(objectClass=mqttUser)"
    request_timeout = "10s"
    ssl {
      enable = false
    }
  }
]