connectors.redis.myredis1.parameters {
  servers = "127.0.0.1:6379,192.168.1.1:6380"
  redis_type = sentinel
  sentinel = "mymaster"
  pool_size = 8
  username = "myuser"
  password = "mypassword"
  database = 0
}