actions.kafka_producer.my_kafka_producer {
  fallback_actions = [
    #substruct(actions_and_sources:fallback_action_reference)
    #substruct(actions_and_sources:fallback_action_republish)
  ]
  connector = "my_connector"
  local_topic = "my_local_topic"
  parameters = {
    #substruct(bridge_kafka:producer_kafka_opts)
  }
  resource_opts = {
    #substruct(bridge_kafka:resource_opts)
  }
}