actions.opents.my_webhook_1.parameters.data = [
  {
    timestamp = "${timestamp_var}"
    metric = "${metric_var}"
    tags = "${tags_var}"
    #tags = {
    #  key1 = "value1"
    #  key2 = "value2"
    #}
    value = 100
    #value = 100.0
    #value = "${value_var}"
  }
]