actions.tdengine.my_webhook_1 {
  local_topic = "my/local/topic"
  parameters = {
    #substruct(bridge_tdengine:action_parameters)
  }
  fallback_actions = [
    #substruct(actions_and_sources:fallback_action_reference)
    #substruct(actions_and_sources:fallback_action_republish)
  ]
  connector = "my_connector"
  resource_opts = {}
}