actions.http.my_webhook_1 {
  fallback_actions = [
    #substruct(actions_and_sources:fallback_action_reference)
    #substruct(actions_and_sources:fallback_action_republish)
  ]
  connector = "my_connector"
  parameters = {
    #substruct(bridge_http:parameters_opts)
  }
  resource_opts = {
    #substruct(bridge_http:action_resource_opts)
  }
}