prometheus = {
  enable_basic_auth = false
  push_gateway = {
    #substruct(prometheus:push_gateway)
  }
  collectors = {
    #substruct(prometheus:collectors)
  }
  latency_buckets = "10ms, 100ms, 1s, 5s, 30s"
}