actions.syskeeper_forwarder.my_webhook_1 {
  local_topic = ""
  parameters = {
    #substruct(syskeeper:parameters)
  }
  fallback_actions = [
    #substruct(actions_and_sources:fallback_action_reference)
    #substruct(actions_and_sources:fallback_action_republish)
  ]
  connector = ""
  resource_opts = {
    #substruct(syskeeper:creation_opts)
  }
}