connectors.aws_timestream.my_aws_timestream_1 {
  server = "127.0.0.1:8086"
  pool_size = 8
  max_inactive = "10s"
  parameters = {
    #substruct(connector_influxdb:connector_influxdb_api_v2)
    #substruct(connector_influxdb:connector_influxdb_api_v3)
  }
  ssl = {
    #substruct(emqx:ssl_client_opts)
  }
  resource_opts = {
    #substruct(bridge_influxdb:connector_resource_opts)
  }
}