actions.azure_blob_storage.my_azure_blob_storage_1.parameters {
  mode = aggregated
  aggregation = {
    #substruct(action_azure_blob_storage:aggregation)
  }
  container = "my-container"
  blob = "${action}/${node}/${datetime.rfc3339utc}/${datetime_until.rfc3339utc}/${sequence}.json"
}