authorization.sources = [
  {
    type = postgresql
    server = "localhost:5432"
    disable_prepared_statements = false
    database = "authz_db"
    pool_size = 8
    username = "db_user"
    password = "secret"
    ssl = {
      #substruct(emqx:ssl_client_opts)
    }
    prepare_statement = {
      stmt1 = "SELECT 1"
    }
    query = "SELECT * FROM acl"
  }
]