authentication = [
  {
    method = get
    headers = {accept = "application/json", cache-control = "no-cache", connection = "keep-alive", keep-alive = "timeout=30, max=1000"}
    mechanism = password_based
    backend = http
    url = "https://auth.example.com"
    body = {username = "alice", password = "secret"}
    request_timeout = "5s"
    request = {
      #substruct(connector_http:request)
    }
    ssl = {
      #substruct(emqx:ssl_client_opts)
    }
    pool_size = 8
    connect_timeout = "15s"
    enable_pipelining = 100
  }
]