authentication = [
  {
    mechanism = password_based
    backend = ldap
    query_timeout = "5s"
    server = "ldap.example.com:389"
    pool_size = 8
    username = <<"user">>
    password = <<"secret">>
    base_dn = <<"dc=example,dc=com">>
    filter = "(objectClass=mqttUser)"
    request_timeout = "10s"
    ssl = {
      #substruct(ldap:ssl)
    }
    method = {
      #substruct(authn:hash_method)
      #substruct(authn:bind_method)
    }
  }
]