actions.opents.my_opents_1 {
  local_topic = "t/opentsdb"
  parameters = {
    #substruct(bridge_opents:action_parameters)
  }
  connector = "my_opents_connector"
  resource_opts = {
    #substruct(actions_and_sources:action_resource_opts)
  }
}