connectors.azure_blob_storage.my_azure_blob_storage_1 {
  account_name = "my_account_name"
  account_key = "my_account_key"
  resource_opts = {
    #substruct(connector_azure_blob_storage:resource_opts)
  }
}