connectors.pulsar.my_pulsar_connector {
  servers = "pulsar://localhost:6650"
  authentication = {
    #substruct(bridge_pulsar:auth_basic)
    #substruct(bridge_pulsar:auth_token)
    none
  }
  connect_timeout = "5s"
  ssl = {
    #substruct(emqx:ssl_client_opts)
  }
  resource_opts = {
    #substruct(pulsar:connector_resource_opts)
  }
}