rule_engine.rules.my_rule_1.actions = [
  {
    args {
      topic = "t/${clientid}"
      qos = "${qos}"
      retain = "${retain}"
      payload = "${payload}"
      mqtt_properties = {
        #substruct(rule_engine:republish_mqtt_properties)
      }
      user_properties = "${user_properties}"
      direct_dispatch = false
    }
  }
]