authentication = [
  {
    mechanism = password_based
    backend = mongodb
    collection = "auth_data"
    filter = {}
    password_hash_field = "password_hash"
    salt_field = "salt"
    is_superuser_field = "is_superuser"
    password_hash_algorithm {
      #substruct(authn_hash:bcrypt)
      #substruct(authn_hash:pbkdf2)
      #substruct(authn_hash:simple)
    }
    precondition = ""
    mongo_type = rs
    servers = "127.0.0.1:27017"
    w_mode = unsafe
    r_mode = master
    replica_set_name = "rs0"
    srv_record = false
    pool_size = 8
    username = "admin"
    password = "secret"
    use_legacy_protocol = auto
    auth_source = "admin_db"
    database = "my_database"
    topology = {
      #substruct(mongo:topology)
    }
    ssl = {
      #substruct(emqx:ssl_client_opts)
    }
  }
]