actions.tablestore.my_webhook_1.parameters = {
  storage_model_type = "timeseries"
  table_name = "my_table_name"
  measurement = "my_measurement"
  tags = {}
  fields = [
    {
      #substruct(bridge_tablestore:tablestore_fields)
    }
  ]
  data_source = "my_data_source"
  # The timestamp can be an integer or a binary string
  #timestamp = 123456789
  #timestamp = "${payload.microsecond_timestamp}"
  meta_update_model = "MUM_NORMAL"
}