actions.dynamo.my_dynamo_action {
  local_topic = "my/topic"
  parameters = {
    #substruct(bridge_dynamo:action_parameters)
  }
  fallback_actions = []
  connector = "my_connector"
  resource_opts = {
    #substruct(actions_and_sources:action_resource_opts)
  }
}