actions.tablestore.my_webhook_1 = {
  local_topic = "<<MQTT topic or topic filter>>"
  parameters = {
    #substruct(bridge_tablestore:action_parameters)
  }
  fallback_actions = [
    {
      #substruct(actions_and_sources:fallback_action_reference)
    },
    {
      #substruct(actions_and_sources:fallback_action_republish)
    }
  ]
  connector = "<<Name of the connector>>"
  resource_opts = {
    #substruct(actions_and_sources:action_resource_opts)
  }
}