actions.gcp_pubsub_producer.my_gcp_action {
  local_topic = "example/topic"
  parameters = {
    #substruct(gcp_pubsub_producer:action_parameters)
  }
  fallback_actions = [
    #substruct(actions_and_sources:fallback_action_reference)
    #substruct(actions_and_sources:fallback_action_republish)
  ]
  connector = "my_connector"
  resource_opts = {}
}